<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts</title>
</head>
<body>
{% extends 'userhomeindex.html' %}
        {% block body %}
<form method="post" action="/contact/editcontactspost/" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="10px" class="bg-success">
            <input type="hidden" name="id" value="{{ data.id}}">
        <tr>
            <td>name</td>
            <td><input type="text" name="name" value="{{ data.name }}"></td>
        </tr>
        <tr>
            <td>phone</td>
            <td><input type="text" name="phone" value="{{ data.phone }}"></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" name="email" value="{{ data.email }}"></td>
        </tr>
        <tr>
            <td>relation</td>
            <td><input type="text" name="relation" value="{{ data.relation }}"></td>
        </tr>
        <tr>
            <td>photo</td>
            <td><img src="{{ data.photo }}" height="200" width="200">
            <input type="file" name="photo" ></td>
        </tr>
        <tr>
            <td><input type="submit" class="btn-danger" value="update"></td>
        </tr>
    </table>
</form>
{% endblock %}
</body>
</html>
