<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>	
<head>
<title>Queer Signup Form with Flat Responsive widget Design :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
 <meta name="keywords" content="Queer Signup form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<link href="/static/signup/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
<!--//webfonts-->

</head>
<body>

 <h1>Queer Signup Form</h1>
   
 <div class="w3_frm">
 <!---728x90---> 
  <form action="/contact/signuppost/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
			<h3>Signup Form</h3>
			<div class="field-w3-agile-grid leftf">	
				<input type="text" name="username" placeholder="username" required="" />
			</div>
			<div class="field-w3-agile-grid leftf">	
				<input type="file" name="photo" placeholder="photo" required="" />
			</div>
			<!---728x90---> 
			<div class="field-w3-agile-grid leftf">	
				<input type="text" name="place" placeholder="place" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="post" placeholder="post" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="pin" placeholder="pin" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="district" placeholder="district" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="email" placeholder="email" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="age" placeholder="age" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="phone" placeholder="phone" required="" />
			</div>
			<div class="w3l_gen">
			<h5>Gender :</h5>
			<div class="w3_ml">
			<!---728x90---> 
			<input type="radio" name="gender"  value="male">
				<label for="brand"><span></span>Male</label>
			</div>
			
			<div class="w3_fl">
			<input type="radio" name="gender"  value="female">
				<label for="brand"><span></span>Female</label>
			</div>
			</div>
			<div class="field-w3-agile-grid rightf">
				<input type="password" name="password" placeholder="PassWord" required="" />
			</div>
			<div class="field-w3-agile-grid rem">
			<input type="checkbox" value="">
				<label for="brand"><span></span></label>
			</div>
			
			<input type="submit" value="SIGNUP">
		</form>

	
	</div>
 		<!--copyright-->
	<div class="copy-wthree">
		<p>© 2018 Queer Signup Form . All Rights Reserved | Design by
			<a href="http://w3layouts.com/" target="_blank">W3layouts</a>
		</p>
	</div>
	<!--//copyright-->


</body>
</html>