<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>welcome user</h1>
    <table>
    <tr>
        <td><a href="/contact/viewprofile/">view profile</a></td>
    </tr>
        <tr>
            <td><a href="/contact/contacts/">contacts management</a></td>
        </tr>
        <tr>
            <td><a href="/contact/sendcomplaint/">send complaint</a></td>
        </tr>
        <tr>
            <td><a href="/contact/viewcontacts/">view contact</a></td>
        </tr>
    </table>
</body>
</html>